.loader{
height:200px;
width:200px;
position: absolute;
top:100px;
left: 500px;
border-radius:50%;
border:20px solid #FF9B42;
border-top:20px solid #00A7E1;
animation: spinAnimate 0.9s ease-in-out 0s infinite normal;
}

@keyframes spinAnimate{
  from{
transform: rotate(0deg);
   }
  to{
transform:rotate(360deg);
   }
}