div{
height:100px;
width:100px;
background-color:aqua;
border: 2px solid black;
display: inline-block;
}

#box1{
background-image:url("Cat.jpg");
background-size:cover;
}

#box5{
background-image:url("Nature.jpg");
background-size:cover;
color:white;
position:fixed;
right:0;
top:50px;
}

body{
background-image:url("Nature 2.jpg");
background-size:cover;
color:orange;

}