#box{
background-color:red;
color:white;
}
.class{
color:red;
}
button{
background-color:green;
}
body{
background-color:turquoise}
p{
text-align:center;
}
h1{
text-align:center;
text-decoration: black dotted underline;
}
a{
text-decoration:none;
}
/*#h1{
font-weight:normal
}
#h2{
font-weight:bold
}
#h3{
font-weight:lighter
}*/
#h1{
font-weight:100
}
#h2{
font-weight:200
}
#h3{
font-weight:450
}
#h4{
font-weight:900
}