#headingOne{
text-align:center;
text-transform:capitalize;
}
*{
font-family:"Times New Roman"}
#box{
background-color:red;
color:white;
}

body{
background-color:turquoise}
p{
text-align:center;
}
#one{
font-family:arial;
font-size:20px;
line-height:normal;
text-transform:none
}
#outer{
font-size:25px;
}
#inner{
font-size:10px;
}
