ul{
background-color:pink;
display:flex;
justify-content:space-evenly;
}

a{
text-decoration:none;
color:red;
/*margin-right:160px; it is used for gap*/
}

li{
list-style-type:none;/* for making dots remove*/
}

.outer{
height:400px;
width:400px;
background-color:cornflowerblue;
display:flex;
justify-content:center;
align-items:center;
}

.inner{
height:100px;
width:100px;
background-color:darkorchid;
}
